.container {
	
}


.navbar{
	position: fixed;top:0;background-color:#4daaf5;left:0;right:0;box-shadow: 0px 1px 20px -2px #9a9494;
}
.navlist {
	list-style: none;margin:0;display: flex;justify-content: flex-end;padding:15px;width:1335px;margin-right:auto;margin-left:auto;
}
.navlist li{
	margin:0px 10px;
}
.navlist li a{
	color:white;text-decoration:none;font-size:1.1rem;
}
.navlist li a[active=true]{
	color:#eee;
}
.heading{
	font-weight: normal;padding:10px;width:1335px;margin-left:auto;margin-right: auto;margin-bottom:60px;
}
.content{
	margin-top:60px;
}
.customer{
	width:700px;background:#fbf9f9;margin:10px auto;padding:25px;border-radius: 5px;box-shadow:0px 0px 10px 2px #e6e2e2;cursor:pointer;transition:0.1s ease-in-out;
}
.customer:hover{
	transform:scale(1.02, 1.02) translateX(10px);
}
.customer p{
	margin:0;
}

@media screen and (max-width:1335px){
	.navlist{
		width:auto;
	}
	.heading{
		width:90%;margin-bottom:10px;
	}
}

@media screen and (max-width: 715px){
	.heading{
		font-size:1.2rem;
	}
}

@media screen and (max-width: 515px){
	.customer{
		width:80%;
	}
}

@media screen and (max-width:321px){
	.navlist li a{
		font-size:0.9rem;
	}
}